/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body and Fonts */
body {
    font-family: 'Outfit', sans-serif; /* Replace with Figma's font */
    color: #fff;
    background: linear-gradient(135deg, #202040, #181830);
}

/* Logo Styles */
h1.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}

h1.logo span {
    color: #8675a9;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links .highlight {
    color: #8675a9;
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 5%;
}

.hero-text h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    padding: 12px 24px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.primary {
    background-color: #8675a9;
    color: #fff;
}

.secondary {
    background-color: #97D5D5;
    color: #fff;
}
